<!-- your html code here -->


<div class="container">
    <h2>Contact</h2>


    <form>
    <div class="contact_grey_box" width="80%">
        <div class="form-group">
            <label for="formGroupExampleInput" aria-setsize="10%">Your E-mail</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your email">

            <label for="formGroupExampleInput" aria-setsize="10%">Your Message</label>
            <textarea name="message_box" class="form-control" tabindex="4"
            placeholder="Please enter your message here..." required></textarea>
        </div>
                <button type="button" class="btn btn-primary" style="align:right">Submit</button>
    </div>

    </form>
</div>
<!-- second attempt below -->
<!-- second attempt -->
<!-- second attempt -->


<div class="container">
    <h2>Contact</h2>


    <form>
    <div class="contact_grey_box" width="80%">
        <div class="flex-container">
        <div class="left-box">
            <label for="formGroupExampleInput1" aria-setsize="10%">Your E-mail</label>
            <p></p>
            <label for="formGroupExampleInput2" aria-setsize="10%">Your Message</label>
        </div>
            
        <div>
            <input type="text" class="form-control1" id="formGroupExampleInput" placeholder="Your email">
            <textarea name="message_box" class="form-control2" tabindex="4"
                placeholder="Please enter your message here..." required></textarea>
        </div>
        
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>