<!-- your html code here -->

<div class="container">
    <h2>Contact</h2>

   <p class="Contact-sub-header">Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit. </p> 
    <form style="width: 620px" style="float:right" >
    <div class="contact_grey_box" style="background-color:#ececec; width:90%; border-radius: 5px" >
        <div class="form-group">
            <div class="row" style="padding: 5px">
                 <div class="col-1"></div>
                    <div class="col-3">
                        <label for="formGroupExampleInput" aria-setsize="10%">Your E-mail</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your email">
                    </div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-1"></div>
                    <div class="col-3">
                        <label for="formGroupExampleInput" aria-setsize="10%">Your Message</label>
                    </div>
                    <div class="col-8">
                        <textarea name="message_box" class="form-control" tabindex="4"
                        placeholder="Please enter your message here..." required></textarea>
                        <button type="button" class="btn btn-primary" style="margin-top: 10px;float:right">Submit</button> 
                    </div>
            </div>
                       
        </div>
        
    </div>

    </form>
</div>

