<!-- your html code here -->
<div class="container bg-white border-top border-bottom p-5">
    <div class="container row mt-5" style="border-top-dark border-bottom-dark">
        <div class="col-7">
            <p class="text-left">
                <h2 class="font-weight-bold"> The First Heading 
                    <span class="text-muted"> Will Catch Your Eye </span>
                </h2 class>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </p>
        </div>  
        <img class="col-4 rounded-circle" src="/website1/assets/img/1.jpg" class= "img-circle" alt="rounded" >
    </div>
</div>