<!-- your html code here -->

<div class="navbar navbar-dark bg-dark text-white">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Start Bootstrap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Contact</a>
            </li>
        </ul>
</div>