<!-- your html code here -->
<div class="container ">
    <span>
        <h2>Portfolio</h2>
        <h5>Hello, I'm the portfolio content bla bla bla</h5>
    </span>
    <span class="card-group">
        <div class="card border-light border-0">
            <img class="card-img-top img-thumbnail border-0" src="https://via.placeholder.com/700x400" alt="">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up</p>
            </div>
        </div>

        <div class="card border-light border-0">
            <img class="card-img-top img-thumbnail border-0" src="https://via.placeholder.com/700x400" alt="">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up</p>
            </div>
        </div>

        <div class="card border-light border-0">
            <img class="card-img-top img-thumbnail border-0" src="https://via.placeholder.com/700x400" alt="">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up</p>
            </div>
        </div>
    </span>
</div>