<!-- your html code here -->
<div class="container bg-light col-12" style="width=100%; height:100%;">
    <span>
        <h2>Portfolio</h2>
        <h5>Hello, I'm the portfolio content bla bla bla</h5>
    </span>
    <span class="d-flex">
        <div class="card col-4 border-light">
            <img class="card-img-top img-thumbnail border-light" src="https://via.placeholder.com/700x400" alt="">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up</p>
            </div>
        </div>

        <div class="card col-4 border-light">
            <img class="card-img-top img-thumbnail border-light" src="https://via.placeholder.com/700x400" alt="">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up</p>
            </div>
        </div>

        <div class="card col-4 border-light">
            <img class="card-img-top img-thumbnail border-light" src="https://via.placeholder.com/700x400" alt="">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up</p>
            </div>
        </div>
    </span>
</div>