<!-- your html code here -->

<div class="container-fluid">
  <!-- Content here -->
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron bg-cover", style="background-image:url(https://s3.amazonaws.com/floridatrend/25615/miamis-magic-503.jpg)">
            <h1 class="h1 text-center bg-light">One Page Wonder</h1>
            <h3 class="h3 text-center bg-light">Will Knock Your Socks Off</h3>
        <!-- Close Column -->
        </div>
    <!-- Close Row -->
    </div>
<!-- Close Container -->
</div>