<!-- your html code here -->

<div class="container-fluid">
  <!-- Content here -->
    <div class="row">
        <div class="col px-0">
            <!-- <div class="jumbotron bg-cover mb-7", style="background-image:url(https://s3.amazonaws.com/floridatrend/25615/miamis-magic-503.jpg)"> -->
            <div class="jumbotron px-0 mb-0 bg-cover position-relative.overflow-hidden", style="background-image:url(https://s3.amazonaws.com/floridatrend/25615/miamis-magic-503.jpg); padding: 4rem 0rem 12rem 0rem; background-repeat:no-repeat; background-size:cover; background-position:center;">


            <!-- div.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light -->

                <h1 class="h1 text-center bg-light">One Page Wonder</h1>
                <h3 class="h3 text-center bg-light">Will Knock Your Socks Off</h3>
            </div>
        <!-- Close Column -->
        </div>
    <!-- Close Row -->
    </div>
<!-- Close Container -->
</div>