<div class="container">
  <div class="row">
    <div class="col-4"><img class="rounded-circle" src="/website1/assets/img/2.jpg" alt=""></div>
    <div class="col-8"> 
    <h2>Spiderman is the Coolest Superhero</h2>
        <p>Spider-Man is one of the most popular and commercially successful superheroes.
        As Marvel's flagship character and company mascot, 
        he has appeared in countless forms of media, 
        including several animated and live action television series, 
        syndicated newspaper comic strips, and in a series of films. </p></div>
  </div>
</div>
</div>
